body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}

header {
    background-color: #761010;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #6a6a7a;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.hover-container {
    border: 1px solid #ccc;
    padding: 20px;
}

.list{
    text-shadow: #5b0606;
    }

